<div class="post-preview" id="user-<%= user.id %>">
  <a href="<%=polymorphic_path user%>">
    <h3 class="post-subtitle">
      <%= user.name%>
    </h3>
    <%# <h3 class="post-subtitle">
      Many say exploration is part of our destiny, but it’s actually our duty to future generations.
    </h3> %>
  </a>
</div>
<hr/>