
<!-- Page Header -->
<% if user_signed_in? %>
  <header class="masthead" style="background-image: url('')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hello</h1>
            <span class="subheading">username ready to blog today?</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header class="masthead" style="background-image: url('')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome</h1>
            <%= link_to "Sign Up now~!", new_user_registration_path, class: "btn btn btn-light" %>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
  

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= render @posts%>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>

        
      </div>
    </div>
  </div>




